*{
    margin: 0;
    padding: 0;
}

.conteiner{
    background: url('../resource/background1.jpg') center no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
   background-image: linear-gradient(rgb(138, 219, 138) , rgb(226, 205, 90));
   width: 500px;
   height: 500px;
   border:2px solid black ;
   display: grid;
   grid-template-rows: repeat(20 , 1fr);
   grid-template-columns: repeat(20 , 1fr);
   transition: all 0.4s ease-in-out;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 12px;
}

.head{
    background: linear-gradient(rgb(94, 41, 41), rgb(167, 167, 37));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}
.snake{ 
    background-color: rgb(19, 14, 19);
    border: .25vmin solid black;
    border-radius: 8px;
}